 .Weather {
   font-family: 'Merriweather', serif;
   display: flex;
   flex-direction: column;
 }

 .Weather_focused{
   font-size: 60px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 50vh;


 }

 .Weather_focused .Weathet_temp{
   font-size: 290vw;

 }


 .Weather_focused img{
   width: 90px;




 }

.Weather_forecast {
  justify-content: space-between;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

}

.Weather_box {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: center;
  cursor: pointer;
}

.Weather_box img {
  width: 69px;
}

.Weather_desc {
  text-transform: capitalize;
}
