 .Weather {
   display: flex;
   flex-direction: column;
 }

 .Weather_focused img{
   width: 90px;
 }

.Weather_forecast {
  display: flex;
}

.Weather_box {
  display: flex;
  flex-direction: column;
  justify-content: space around;
}

.Weather_box img {
  width: 69px;
}
